.user-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: scroll; */
}

.user-cards-container > a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.user-cards-container > a:hover {
    cursor: pointer;
    color: teal;
}

.user-cards-header {
    font-size: 40px;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin-bottom: 2.5vh;
}

.flashcard-container {
    border: black solid 10px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-align: center;
    border: black solid;
    margin: 10px;
    height: 40vh;
    width: 30vw;
}

.answer-container {
    display: none;
}

.question-container {
    width: 100%;
    height: 20%;
    overflow-wrap: break-word;
}

.to-hide {
    display: none;
}

.container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    overflow: scroll;
    align-content: flex-start;
    width: 100%;
    height: 85vh;
}