.calender-form{
    padding-left: 10px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.date-picker{
    padding-right: 10px;
    z-index: 4;
}

.calender-container-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.calendar-submit{
    font-size: 13px;
    padding: 5px 40px;
    white-space: nowrap;
}

.rbc-toolbar-label{
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.calendar-link{
    display: flex;
    justify-content: center;
}