/* Body background and font
body {
  background: #272343;
  font-family: "Pacifico", cursive;
}
/* Main heading */
.heading {
  color: #bae8e8;
}

.container1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Countdown timer */
.containertimer {
  color: #ffffff;
  text-align: center;
  width: 21rem;
  height: 21rem;
  border: 5px solid rgba(255, 255, 255, 0.521);
  border-radius: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 42pt;
  font-weight: 400;
}

/* remove the padding on the play button */
.btn {
  padding: 0;
  width: 60%;
  padding-right: 40px;
  padding-top: 10px;
  background-color: inherit;
  border: none;
}

.buttonscontainer{
    display: flex;
    justify-content: center;
}


/* play and reset icons */
.fa-play,
.fa-redo-alt {
  color: #e3f6f5;
  border: 2px solid transparent;
  padding: 1rem;
  padding-right: 2rem;
  border-radius: 2rem;
}

.fa-play:hover,
.fa-redo-alt:hover {
  color: #bae8e8;
  border: 2px solid #bae8e8;
  transition: 0.3s ease;
}

/* Dynamic class */
/* Make the message visible */
.show_message {
  display: block;
  padding: 1rem 0;
  color: #272343;
  background: #e3f6f5;
  border-radius: 0.5rem;
  transition: 0.5s ease;
} 

.clock-main-link{
    padding-bottom: 15px;
}

.clocktitle{
    font-size: 28pt;
    font-weight: 400;
    padding-bottom: 10px;
}