#all-page-footer{
  /* padding-top: 30px; */
  border-top: 1px solid #bbb;
  background: #bebebe3f;
  margin-top: 45%;
}

.footer-list-container {
    margin-top: 43%;
}

.footer-tag-line h3{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}