.profile-content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10%;
    background-color: rgba(232, 250, 255, 0.253);
    width: 60%;
    border-radius: 5px;
}

.profile-content h2{
    font-size: 14pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-info{
    margin-bottom: 5px;
    font-size: 12pt;
}

#profile-handle{
    margin-top: 10px;
    font-size: 16pt;
    border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
}

#profile-account-info{
    padding-top: 10px;
    border-top: rgba(255, 255, 255, 0.5) solid 1px;
}
