.user-cards-container {
    width: 100%;
    height: 97vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.user-cards {
    border: black solid;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.flashcard-container {
    width: 40vw;
    height: 40vh;
    border: black solid;
    margin: 2rem;
    background-color: whitesmoke;
    border-radius: .50rem;
    box-shadow: 0 0  5px 2px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-contents {
    border: black solid;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center ;
    justify-content: center;
;
}

.card-buttons {
    border: black solid;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.question-container {
    display: flex;
    /* justify-content: center;
    align-content: center;
    position: absolute; */
}

.answer-container {
    display: none;
}

.flashcard-container:hover .answer-container {
    display: flex;
}

.flashcard-container:hover .question-container {
    display: none;
}



.redir-create {
    font-size: 3rem;
}

.edit-card-form {
    width: 100%;
    height: 89vh;
} 
